---
import InputGenerator from "../components/InputGenerator.astro";
import logo from "../assets/images/logo-qr-generator.svg";
---

<section
  id="boxOne"
  class="flex items-center flex-col gap-5"
>
  <img
    src={logo.src}
    alt="logo of the page"
    class="w-60"
  />
  <InputGenerator />
</section>
