---
import Button from "./Button.astro";
import Download from "../icons/download.astro";
import Next from "../icons/Next.astro";
---

<section
  id="boxTwo"
  class="hidden"
>
  <div class="relative z-0">
    <div id="capture">
      <div
        id="qrcode"
        class="p-8 rounded-3xl bg-white mb-10 z-20"
      >
      </div>
    </div>
    <div
      class="bg-blueDesign/30 w-96 h-96 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full -z-10"
    >
    </div>
  </div>
  <div class="flex justify-center gap-4">
    <Button id="download"
      ><p>Download</p>
      <Download />
    </Button>
    <Button id="next"
      ><p>Next Qr</p>
      <Next />
    </Button>
  </div>
</section>
<script>
  import html2canvas from "html2canvas";
  const capture = document.getElementById("capture");
  const download = document.getElementById("download");
  download?.addEventListener("click", downloadImage);

  function downloadImage() {
    html2canvas(capture).then((canvas) => {
      const image = canvas.toDataURL("image/jpg");
      const link = document.createElement("a");
      link.href = image;
      link.download = "imagen-descargada.jpg";
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    });
  }
</script>
