<div
  class="relative bg-blackDesign p-2 border-2 rounded-2xl border-blueDesign flex sm:w-[575px]"
>
  <label
    for="Search"
    class="sr-only"
  >
    Search
  </label>

  <input
    type="text"
    id="search"
    placeholder="Enter an url"
    class="w-full bg-transparent rounded-md py-2.5 pl-4 pe-10 outline-none placeholder:text-grayText"
  />

  <button
    id="btn"
    type="button"
    class="bg-blueDesign min-w-24 rounded-lg py-3"
  >
    QR code
  </button>
</div>
