<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/logo-qr-generator.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />

    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"
      integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      defer
      src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"
    ></script>
    <title>QR Generator</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @font-face {
    font-family: oufit;
    src: url(/fonts/Outfit-VariableFont_wght.ttf);
  }
  html,
  body {
    font-family: oufit;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(/bg-illustration.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-color: #111729;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
  }
</style>
